<section class="onepage_about_area" id="about_area">
    <img class="shape wow fadeInRight" src="assets/images/temp/onepage/shape_03.png" alt="f_img">
    <div class="container">
      <div class="row row_reverse align_items_center">
        <div class="col-lg-7">
          <div class="onepage_about_img text-right">
            <img src="https://media.giphy.com/media/d9QiBcfzg64Io/giphy.gif" alt="f_img">
          </div>
        </div>
        <div class="col-lg-5">
          <div class="onepage_about_content">
            <h2 class="h_color f_36 wow fadeInUp">Why this project started</h2>
            <div class="wow fadeInUp" data-wow-delay="300ms">
              <p>Retro gaming holds a specical place in my heart. Stood at my game of choice surrounded by the noise
                and flashing lights of other machines, combined with the smell of some sugary snacks hanging in the air 
                brings back fond memories of my time at the local seaside arcades.
              </p>
              <p>Everytime I take the kids to the seaside I find myself keeping an eye out for games I used to play
                while growing up. Something that I would sink all my pocket money in to and from time to time I find them
                sat there in some corner, at the back of the arcade, neglected and overlooked. I drop in some pennies and 
                re-live my teenage years.
              </p>
              <p>I know that I am not the only person who loves the old games and that many use emulators to play at home.
                But to get that real arcade feeling there is nothing like playing in the arcade itself, so I decided to create
                a place where people could share the locations of these little boxes of history. This project will be nothing without
                a community backing it so I'm really hoping that others are set and ready to help out.
              </p>
              <p>If you want to help out, you can do so by adding a gaming location or you can support this project 
                through adding features or helping with testing, styling or simply offering a suggestion to improve the site</p>
            </div>
            <a href="#" class="n_banner_btn wow fadeInUp mr-2" data-wow-delay="450ms" routerLink="/locations">Add location</a>
            <a href="#" class="n_banner_btn wow fadeInUp" data-wow-delay="450ms" routerLink="/tasks">View Tasks</a>
          </div>
        </div>
      </div>
    </div>
  </section>