<section class="download_area">
    <div class="container">
        <div class="row">
            <div class="download_content thanks_content text-center full-width">
                <h2>Thank you for your help!</h2>
                <h3>Now let others know about this project. You can do this by sharing, it would really help us out.
                </h3>
                <!--TODO: add social media share options here-->
                <a class="btn_get btn_hover" href="locations/add">Add another Location</a>
                <img class="img-fluid mx-auto"
                     src="assets/images/temp/thankyou.png"
                     alt="">
            </div>
        </div>
    </div>
</section>