/*====================================================*/
@import "fonts";
/*====================================================*/

/*====================================================*/
@import "colours";
/*====================================================*/

/*====================================================*/
@import "variables";
/*====================================================*/

/*====================================================*/
@import "button";
/*====================================================*/

/*====================================================*/
@import "header";
/*====================================================*/

/*====================================================*/
@import "banner";
/*====================================================*/

/*====================================================*/
@import "service";
/*====================================================*/

/*====================================================*/
@import "about";
/*====================================================*/

/*====================================================*/
@import "footer";
/*====================================================*/

.bg-success,
.bg-accent,
.bg-error,
.bg-primary {
    color: white;

    button {
        color: white;
    }
}

.bg-success {
    background: var(--color-success);
}

.bg-accent {
    background: var(--color-accent);
}

.bg-error {
    background: var(--color-warn);
}

.bg-primary {
    background: var(--color-primary);
}