<app-banner-section>
  <mat-card>
    <form [formGroup]="form">
      <app-input formControlName="firstName"
                 label="First name"
                 placeholder="John"
                 [errorMessages]="firstNameErrorMessages"></app-input>
      <app-input formControlName="lastName"
                 label="Last name"
                 placeholder="Doe"
                 [errorMessages]="lastNameErrorMessages"></app-input>
      <app-input formControlName="email"
                 label="Email address"
                 placeholder="john.doe@example.com"
                 [errorMessages]="emailErrorMessages"></app-input>
      <app-input formControlName="subject"
                 label="Subject"
                 placeholder="Site improvement"
                 [errorMessages]="subjectErrorMessages"></app-input>
      <app-textarea formControlName="message"
                    label="Message"
                    placeholder="Your message here..."
                    [errorMessages]="messageErrorMessages"></app-textarea>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Message</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="15"
                  placeholder=""
                  formControlName="message"></textarea>
        <mat-error>{{getErrorMessage('message')}}</mat-error>
        <mat-hint>{{messageMaxLength - message.value.length}}/{{messageMaxLength}}</mat-hint>
        <button mat-icon-button
                *ngIf="message.value"
                (click)="clearField('message')"
                matSuffix>
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field> -->
    </form>
  </mat-card>
</app-banner-section>