<app-banner-section>
  <app-card>
    <form [formGroup]="form">
      <app-input class="field"
                 formControlName="firstName"
                 label="First name"
                 placeholder="John"
                 [errorMessages]="firstNameErrorMessages"></app-input>
      <app-input class="field"
                 formControlName="lastName"
                 label="Last name"
                 placeholder="Doe"
                 [errorMessages]="lastNameErrorMessages"></app-input>
      <app-input class="field"
                 formControlName="email"
                 label="Email address"
                 placeholder="john.doe@example.com"
                 [errorMessages]="emailErrorMessages"></app-input>
      <app-input class="field"
                 formControlName="subject"
                 label="Subject"
                 placeholder="Site improvement"
                 [errorMessages]="subjectErrorMessages"></app-input>
      <app-textarea class="field"
                    formControlName="message"
                    label="Message"
                    placeholder="Your message here..."
                    [errorMessages]="messageErrorMessages"></app-textarea>
      <app-button class="submitButton"
                  text="Submit"
                  icon="send"></app-button>
    </form>
  </app-card>
</app-banner-section>