table {
    width: 100%;
}

.spacing {
    margin: 20px 0;
}

th.mat-header-cell,
.mat-cell {
    padding: 0 10px;
}

.mat-row {
    &:nth:child(even) {
        background-color: #f7f7f7;
    }

    &:hover {
        background-color: rgb(235, 235, 235);
        cursor: pointer;
    }
}
