<app-banner-section>
  <div class="row">
    <div class="col-lg-7 col-md-12">
      <div class="n_banner_content">
        <h2 class="wow fadeInUp" data-wow-delay="300ms">Welcome to Can I Retro</h2>
        <p class="wow fadeInUp" data-wow-delay="500ms">This is a community project and is in it's really early stages.
          Right now, it can't do much!
          Keep an eye for future developments where you will be able to find retro arcade gaming. If you want to get
          involved or you are curious
          click the button below
        </p><a class="n_banner_btn wow fadeInUp" data-wow-delay="600ms" routerLink="/roadmap">Roadmap</a>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 col-md-12">
      <div class="mobile_img wow fadeInUp animated" data-wow-delay="0.2s">
        <img src="assets/images/SpaceInvaders.png" alt="f_img">
      </div>
    </div>
  </div>
</app-banner-section>
