<footer class="footer_area f_bg">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s">
            <a href="index.html" class="f-logo">Can I Retro</a>
            <div class="widget-wrap">
              <p class="f_400 f_p f_size_15 mb-0 l_height34">
                <span>Email: </span> 
                <a href="mailto:tony09uk@gmail.com" class="f_400">tony09uk@gmail.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-5 col-sm-6">
        </div>
        <div class="col-lg-4 col-md-3 col-sm-6">
          <div class="f_social_icon_two text-center">
            <a href="#"><i class="ti-facebook"></i></a><!--todo: create facebook group-->
            <a href="https://github.com/tony09uk?tab=repositories" target="_blank"><i class="ti-github"></i></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
        </div>
      </div>
    </div>
  </div>
</footer>