<div ngIf="column.filterType === filterTypes.DateRange">
    <!-- todo: implement this -->
    <p>not implemented</p>
</div>
<div ngIf="column.filterType === filterTypes.NumberRange">
    <!-- todo: implement this -->
    <p>not implemented</p>
</div>
<div ngIf="column.filterType === filterTypes.MultiSelect">
    <!-- todo: implement this -->
    <p>not implemented</p>
</div>
<div ngIf="column.filterType === filterTypes.String">
    <!-- todo: implement this -->
    <p>not implemented</p>
</div>