<div [ngSwitch]="column.filterType">
    <div *ngSwitchCase="filterTypes.DateRange">
        <app-date-range-filter></app-date-range-filter>
    </div>
    <div *ngSwitchCase="filterTypes.NumberRange">
        <app-number-range-filter></app-number-range-filter>
    </div>
    <div *ngSwitchCase="filterTypes.MultiSelect">
        <app-multiselect-filter [columnName]="columnName"
                                [data]="column.distinctData"></app-multiselect-filter>
    </div>
    <div *ngSwitchCase="filterTypes.String">
        <app-string-filter [columnName]="columnName"
                           [filterValue]="column.appliedFilters"></app-string-filter>
    </div>
</div>