<mat-form-field appearance="fill" [style.width.%]="100">
       <mat-label>{{label}}</mat-label>
       <input matInput
              [type]="type"
              [placeholder]="placeholder"
              [formControl]="control">
       <mat-error>{{getErrorMessage()}}</mat-error>
       <button mat-icon-button
               [style.visibility]="control.value ? 'visible' : 'hidden'"
               (click)="clearInput()"
               matSuffix>
              <mat-icon>clear</mat-icon>
       </button>
</mat-form-field>