<header class="header_area">
  <nav class="navbar navbar-expand-lg menu_one menu_four" id="landing_page">
    <div class="container-fluid">
      <a class="navbar-brand sticky_logo" href="#">
        <img src="assets/images/temp/logo2.png" srcset="assets/images/temp/logo2x-2.png 2x" alt="logo">
        <img src="assets/images/temp/logo.png" srcset="assets/images/temp/logo2x.png 2x" alt="">
      </a>
      <a class="btn_get btn_hover mobile_btn ml-auto" href="#get-app">Get Started</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="menu_toggle">
          <span class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="hamburger-cross">
            <span></span>
            <span></span>
          </span>
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav mr-auto ml-auto menu w_menu">
          <li class="nav-item"><a class="nav-link" href="">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/roadmap">Roadmap</a></li>
          <li class="nav-item"><a class="nav-link" href="/games">Games List</a></li>
          <li class="nav-item"><a class="nav-link" href="/locations">Locations</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
        <ng-template [ngIf]="!isLoggedIn" [ngIfElse]="loggedIn">
          <a class="btn_get btn_hover" href="/auth">Sign In</a>
        </ng-template>
        <ng-template #loggedIn>
          <!--todo: show user profile image and welcome message-->
          <ul class="nav navbar-nav menu w_menu">
            <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
          </ul>
        </ng-template>
      </div>
    </div>
  </nav>
</header>