<app-coming-soon></app-coming-soon>

<!-- 
    #GameClass#
    Id:number
    Title: string
    ReleaseYear: number
    DeveloperIdList:number[]
    GenreIdList:number[]
    MaxPlayers: number
    ImageListUrls: string[]
    VideoClipListUrl: string
    locationIdList: number[]

    #DeveloperClass#
    Id:number
    name: string

    #GenreClass#
    Id: number
    Name:string
    Description:string
    WikipediaLink: string

    #Location#
    Id: number
    Name: string
    IsRetroGamesOnly: boolean
    EntryPrice: number
    Rating: number
    Address: number
    OpeningHours: number
    PhoneNumbers: string (csv)
    GamesList: Game
    IsFoodServed: boolean
    IsChildFriendly: boolean
    WebsiteAddress: string

    #Address#
    Id: number
    Line1: string
    Line2: string
    Postcode1: string
    Postcode2: string
    Xloc: string
    Yloc: string

    #OpeningHours#
    Id: number
    DayOfWeek: string
    OpenFrom: string
    OpenTo: strong
-->