<app-card>
    <form [formGroup]="form">
        <app-google-places-input formControlName="address"
                                 (addressSelected)="handleAddressChange($event)"
                                 (usersLocationRetrieved)="usersLocation($event)"></app-google-places-input>
    </form>
</app-card>

<google-map height="500px"
            width="100%"
            [zoom]="zoom"
            [center]="center"
            [options]="options"
            #googleMap>
    <map-marker [position]="marker.getPosition()">
    </map-marker>
</google-map>