<section class="n_hero_banner_area"
         id="home">
    <!--todo: move to svg file-->
    <svg id="hero_shape2_normal"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <linearGradient id="PSgrad_0"
                            x1="0%"
                            x2="76.604%"
                            y1="64.279%"
                            y2="0%">
                <stop offset="0%"
                      stop-color="rgba(29,62,222, 0.20)"
                      stop-opacity="1"></stop>
                <stop offset="100%"
                      stop-color="rgba(3,218,246, 0.20)"
                      stop-opacity="1"></stop>
            </linearGradient>
        </defs>
        <path fill-rule="evenodd"
              fill="rgb(255, 255, 255)"
              d="M0.000,246.000 C0.000,246.000 326.728,190.237 710.653,123.017 C937.017,83.384 1398.662,3.976 1398.662,3.976 C1398.662,3.976 1524.189,5.641 1668.565,26.591 C1813.299,47.594 1920.000,84.745 1920.000,84.745 L1920.000,323.000 L0.000,323.000 L0.000,246.000 Z">
        </path>
        <path fill="url(#PSgrad_0)"
              d="M0.000,323.249 C0.000,-57.945 0.000,623.445 0.000,242.251 C0.000,242.251 141.533,218.272 347.776,183.613 C479.132,161.538 636.827,133.656 800.746,105.827 C943.681,81.561 1097.680,52.804 1239.269,28.559 C1291.889,19.548 1358.059,5.849 1393.180,1.251 C1434.086,-4.103 1581.001,11.184 1661.097,24.221 C1818.678,49.869 1920.000,84.251 1920.000,84.251 L1920.000,190.407 C1813.062,96.085 1433.376,28.053 1285.064,28.053 L0.000,323.249 Z">
        </path>
    </svg>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-1 col-md-12">
                <div class="n_banner_content">
                    <h2 class="wow fadeInUp"
                        data-wow-delay="300ms">Welcome to the roadmap</h2>
                    <p class="wow fadeInUp"
                       data-wow-delay="500ms">This is a community project and is in it's really early stages.
                        I wanted an easy was to keep you updated on what is happening and what is coming up.
                        Here you will see what the plans are for this site. If you would like to contribute you can do.
                        Just visit my <a class="underline"
                           href="https://github.com/tony09uk/RetroArcadeMachines">GitHub page</a> or contact me.
                    </p>
                    <a class="n_banner_btn wow fadeInUp"
                       data-wow-delay="600ms"
                       routerLink="/contact">Contact</a>
                </div>
            </div>
            <div class="col-md-12">
                <app-table *ngIf="table"
                           [tableDef]="table"></app-table>
            </div>
        </div>
    </div>
</section>