<app-banner-section>
    <div class="row">
        <div class="col-lg-7 offset-lg-1 col-md-12">
            <div class="n_banner_content">
                <h2 class="wow fadeInUp"
                    data-wow-delay="300ms">Welcome to the roadmap</h2>
                <p class="wow fadeInUp"
                    data-wow-delay="500ms">This is a community project and is in it's really early stages.
                    I wanted an easy to keep you updated on what is happening and what is coming up.
                    Here you will see what the plans are for this site. If you would like to contribute you can do.
                    Just visit my <a class="underline"
                        href="https://github.com/tony09uk/RetroArcadeMachines">GitHub page</a> or contact me.
                </p>
                <a class="n_banner_btn wow fadeInUp"
                    data-wow-delay="600ms"
                    routerLink="/contact">Contact</a>
            </div>
        </div>
        <div class="col-md-12">
            <app-grid *ngIf="table"
                      [gridConfig]="table"></app-grid>
        </div>
    </div>
</app-banner-section>